:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #28a745;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
}

/* css [B] charector */
.bg-w{
    background-color: #fff;
}
.bg-r{
    background-color: red;
}
.bg-b{
    background-color: blue;
}
.bg-y{
    background-color: yellow;
}
.bg-o{
    background-color: orangered;
}
.bg-h{
    background-color: hotpink;
}
.bg-b{
    background-color: black;
}
.bg-g{
    background-color: gray;
}
/* css [F] charector */
.flex{
    display: flex;
}
.flex-r{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex-oc{
    display: flex;
    flex-direction: column;
}
<i class="fas fa-shopping-cart"></i>
<i class="fas fa-user-plus">
<i class="far fa-heart"></i>
<i class="fas fa-search"></i>